* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/* Utility */

h1 {
    font-size: 3.1rem;
}
h2 {
    font-size:1.8rem;
}

p {
    font-size: 0.7rem;
}

i {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
}

.font-07 {
    font-size: 0.7rem;
}

.padd-2 {
    padding: 2vh;
}

.padd-bottom-3 {
    padding-bottom: 3.2vh;
}

.margin-section {
    margin-top: 15vh;
}

.margin-top-3 {
    margin-top: 3.2vh;
}

.m-auto {
    margin: auto;
}

.all-border {
    border: 1px solid lightgray;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    width: calc(100% / 3 - 2vw);
    /* min-height: 110vh; */
}

.center-col {
    margin: 0 3vw;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.v-align-mid {
    vertical-align: middle;
}

.l-height-1-4 {
    line-height: 1.4rem;;
}

.bg-light-blue {
    background-color: #b4d0e7;
}

.btn {
    color: white;
    padding: 1vh 2vw;
    background-color: #0061ff;
}

.btn:hover {
    background-color: #00a2ff;
}

/* Rule */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.logo {
    padding-right: 3vw;

}

header li {
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
}

header li > a {
    margin: 0 1vw;
    padding-bottom: 3.2vh;
    font-size: 0.7rem;
    color: black;
    text-decoration: none;
}

header li > a:hover {
    border-bottom: 1px solid black;
}

header .btn:hover {
    border-bottom: none;
}

#jumbo-tron {
    margin-top: 9vh;
    position: relative;
}

#jumbo-tron h1 {
    padding-top: 8vh;
}

#jumbo-tron p {
    margin-right: 5vw;
}

#jumbo-tron a {
    display: inline-block;
    margin-bottom: 1vh;
    text-decoration: none;
    font-size: 0.7rem;
}

#jumbo-tron i {
    font-size: 2.5rem;
    padding-bottom: 10vh;
}

.jumbo-pos {
    width: 52%;
    position: absolute;
    left: 35%;
}

main {
    width: 70%;
    margin: 20vh auto 10vh;
}

main input:hover {
    cursor: pointer;
}

.radio input {
    vertical-align: sub;
}

.radio label {
    margin-right: 2vw;
}

.top-col {
    font-size: 0.7rem;
    line-height: 4vh;
    border-bottom: 1px solid lightgray;
}

.bottom-col {
    min-height: 100vh;
    width: 85%;
    margin: 2vh auto;
}

section h3 {
    font-size: 1.3rem;
    margin-bottom: 1.5vh;
}

section .price {
    font-size: 0.9rem;
    margin-bottom: 1vh;
}

section .periodo {
    color: #86929d;
    margin-bottom: 2.5vh;
}

.specifiche {
    margin-bottom: 1.5vh;
    font-weight: normal;
}

.bottom-col a.btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1vh 0;
    text-decoration: none;
    margin: 5vh 0 3vh;
}

.specifiche a {
    color: #0061ff;
}

.specifiche a:hover {
    color: #00a2ff;
}

.bottom-col hr {
    margin-bottom: 2.5vh;
    border-top: 1px solid lightgray
}

.bottom-col li {
    /* list-style-image: url("../img/check-solid.svg"); */
    list-style-type: none;
    font-weight: normal;    
    margin: 2vh 0 2vh 1vw;
}

.bottom-col li i {
    margin-left: -1.5vw;
    color: #0061ff;
}

.pie-top {
    line-height: 4vh;
    border-bottom: 1px solid lightgray;
}

.pie-body {
    margin: 3.2vh auto;
}

.pie-body p {
    font-weight: normal;
    
}

.pie-section a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 1vh 0;
        text-decoration: none;
}

#trova-partner div.w-40 {
    padding-left: 5vw;
}

#trova-partner p {
    font-weight: normal;
    margin-bottom: 2vh;
}

.btn-white {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 0.7rem;
    font-weight: normal;
    text-decoration: none;
}

#how-it-works p {
    font-weight: normal;
    margin-bottom: 5vh;
}

#affiliazioni a {
    color: #0061ff;
}

#affiliazioni a:hover {
    color: #00a2ff;
}

div.faq {
    border-top: 1px solid lightgray;
    padding: 2vh 0;
}

#faq div.faq:last-child {
    border-bottom: 1px solid lightgray;
}

div.faq i{
    line-height: 1.4rem;
}

div.faq p {
    display: none;
    font-weight: normal;
    padding-top: 1vh;
}

.titolo-faq:hover{
    cursor: pointer;
}

.titolo-faq:hover + p {
    display: block;
}


