* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/* Utility */

h1 {
    font-size: 3.1rem;
}

p {
    font-size: 0.7rem;
}

.padd-2 {
    padding: 2vh;
}

.padd-bottom-3 {
    padding-bottom: 3.2vh;
}

.m-auto {
    margin: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-15 {
    width: 15%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.v-align-mid {
    vertical-align: middle;
}

.l-height-2 {
    line-height: 2rem;;
}

.bg-light-blue {
    background-color: #b4d0e7;
}

.btn {
    color: white;
    padding: 1vh 2vw;
    background-color: #0061ff;
}

.btn:hover {
    background-color: #00a2ff;
    border-bottom: none;
}

/* Rule */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.logo {
    padding-right: 3vw;

}

header li {
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
}

header li > a {
    margin: 0 1vw;
    padding-bottom: 3.2vh;
    font-size: 0.7rem;
    color: black;
    text-decoration: none;
}

header li > a:hover {
    border-bottom: 1px solid black;
}

#jumbo-tron {
    margin-top: 9vh;
}

#jumbo-tron h1 {
    padding-top: 8vh;
}

#jumbo-tron p {
    margin-right: 5vw;
}

#jumbo-tron a {
    display: inline-block;
    margin-bottom: 1vh;
    text-decoration: none;
    font-size: 0.7rem;
}

div.float-left div {
    font-size: 0.7rem;
}

#jumbo-tron i {
    font-size: 2.5rem;
}